/workspace/60일영업이익.csv
/workspace/10일prc기울기_10일vol기울기.csv
/workspace/60일prc기울기_60일vol기울기.csv
/workspace/60일당기순이익.csv
/workspace/당기순이익.csv
/workspace/영업이익.csv
/workspace/finance_y.csv
/workspace/history_dt.csv
/workspace/stock.csv